<div class="container">
  <div class="row">
    <div class="col-6">
      <h2>insentar un objeto</h2>
      
    </div>
    <div class="col-6">
      <h2>cantidad de objetos  (X)</h2>
    </div>
  </div>
</div>
<div class="container">
  <div class="row">
    <div class="col-6">
        <h5>utilice esta area de texto para crear cosas</h5>
        <form class="form-horizontal">
          <input type="text" class="form-control" name="item" placeholder="Escribe algo a qui"> 
          <input type="submit" class="btn btn-primary mt-2" value="Agregar objeto">
        </form>
    </div>
    <div class="col-6 border coolbox">
      <div class="alert alert-dark mt-2" role="alert">
        Asi seran mis objetos
      </div>

    </div>
  </div>
</div>
